{% extends 'app/base.html' %}

{% block title %} Temperature Converter {% endblock %}

{% block body %}
<h1>Fahrenheit to Celcius</h1>

     <form action="{% url 'f-to-c' %}" method="get">
        <input name="f_value" type="text" placeholder="Fahrenheit">
        <br>
        <button type="submit" name="button">Convert</button>
    </form>
    <br><br>

    <p> Fahrenheit: {{fahrenheit_value}}F </p><br>
    <p> Celcius: {{celcius_value}}C </p><br>

    <a href="{% url 'home' %}"> Home </a>
{% endblock %}